/* style.css */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    /* This centers our sketch horizontally. */
    justify-content: center;
    /* This centers our sketch vertically. */
    align-items: center;
    background: url("http://getwallpapers.com/wallpaper/full/0/5/1/650644.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.sketch-holder {
    border-radius: 10px;
}